@model WebApplication.Models.Certification
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Certification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.centre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.centre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateEnd)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    <a asp-action="Index">Back to List</a>
</div>
